@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Website_Design2 */

h1 {
    font-family: 'Comic Neue', cursive;
    font-size: 50px;
    background-color: white;
    position: relative;
    top: 0px;
    left: 0px;
}

.banner {
    background-image: url(../img/design1_image2.jpg);
    height: 200pt;
    position: relative;
}

.logo {
    position: absolute;
    top: 120%;
    left: 1%;
}

h2{
    font-family: 'Comic Neue', cursive;
    font-size: 23px;
    text-align: center;
    color: black;
    background-color: white;
    padding: 5px;
    border-style: solid;
    border-color: black;
}

h3{
    font-family: 'Comic Neue', cursive;
    font-size: 20px;
}

p{
    font-family: 'Comic Neue', cursive;
    font-size: 15px;
}

ul {
    position: absolute;
    right: 80px;
    top: 45px
}

li {
    display: inline-block;
    font-family: 'Comic Neue', cursive;
    font-size: 22px;
    margin: 0px 10px;
    padding: 5px 30px;
    background-color: blue;
    border: black 2px solid;
}

li a{
    text-decoration: none;
    color: white;
}

li:hover{
    background-color: green;
}

.fecha-evento{
    display: block;
    position: absolute;
    right: 500px;
    padding: 30px;
}

.fecha-evento h3{
    padding-bottom: 5px;
}

.fecha-evento p{
    padding-bottom: 40px;
    text-indent: 20px;
}

.info-mdhl{
    display: block;
    position: absolute;
    left: 300px;
    padding: 20px;
}

.info-mdhl h3{
    padding-bottom: 5px;
}

.info-mdhl p{
    padding-bottom: 60px;
    text-indent: 20px;
}

.contact{
    display: block;
    position: absolute;
    left: 300px;
    padding: 50px;
}
.contact p{
    padding-bottom: 40px;
    text-indent: 20px;
}