@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    background-image: url(../img/design1_image1.jpg);
    background-position: cover;
    height: 200pt;
    position: relative;
}

.logo {
    position: absolute;
    top: 78%;
    left: 85%;
}

h1{
    font-family: 'Comic Neue', cursive;
    font-size: 60px;
    position: absolute;
    border-top: 0cm;
    border-left: 0cm;
}

h2{
    font-family: 'Comic Neue', cursive;
    font-size: 23px;
    color: white;
    background-color: black;
    padding: 5px;
    text-align: center;
}

h3{
    font-family: 'Comic Neue', cursive;
    font-size: 20px;
}

p{
    font-family: 'Comic Neue', cursive;
    font-size: 15px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    height: 100%;
    position: fixed;
    overflow: auto;
}

li a{
    display: block;
    padding: 50px;
}

.fecha-evento{
    display: block;
    position: absolute;
    right: 500px;
    padding: 50px;
}

.fecha-evento h3{
    padding-bottom: 5px;
}

.fecha-evento p{
    padding-bottom: 60px;
    text-indent: 20px;
}
.info-mdhl{
    display: block;
    position: absolute;
    left: 300px;
    padding: 50px;
}

.info-mdhl h3{
    padding-bottom: 5px;
}

.info-mdhl p{
    padding-bottom: 60px;
    text-indent: 20px;
}

.contact{
    display: block;
    position: absolute;
    left: 300px;
    padding: 50px;
}
.contact p{
    padding-bottom: 60px;
    text-indent: 20px;
}
