
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", "Poppins";
}

body{
    background-color:#bb9765;
}

.banner {
    background-image: url(../img/design1_image2.jpg);
    background-size: cover;
    height: 450px;
    position: relative;
    bottom: 100px;
}

h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    color: #f8e12e;
    background-color: #231f20;
    padding: 10px;
    position: absolute;
    top: 100px;
}

.logo {
    position: absolute;
    top: 20%;
    right: 2%;
}

h2{
    font-family: 'Poppins', cursive;
    font-size: 25px;
    color: white;
    text-align: center;
    background-color: #231f20;
    padding: 7px;
    position: relative;
    bottom: 80px;
}

h3{
    font-family: 'Poppins', cursive;
    font-size: 20px;
}

p{
    font-family: 'Poppins', cursive;
    font-size: 15px;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #231f20;
    position: absolute;
    bottom: 275px;
    left: 250px;
}

ul li{
    display: inline-block;
    font-family: 'Bebas Neue', cursive;
    font-size: 22px;
}
  
ul li a{
    color: #f8e12e;
    display: inline-block;
    padding: 15px 105px;
    text-decoration: none;
}

ul li a:hover{
    background-color: #ff470f;
}

.fecha-evento{
    display: block;
    position: absolute;
    left: 700px;
}

.fecha-evento h3{
    padding-bottom: 5px;
}

.fecha-evento p{
    padding-bottom: 20px;
    text-indent: 20px;
}

.info-mdhl{
    display: block;
    position: absolute;
    left: 700px;
}

.info-mdhl h3{
    padding-bottom: 5px;
}

.info-mdhl p{
    padding-bottom: 20px;
    text-indent: 20px;
}

.contact{
    display: block;
    position: absolute;
    left: 700px;
}
.contact p{
    padding-bottom: 20px;
    text-indent: 20px;
}